.previsao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.boxPrevisao {
  padding: 20px 30px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
}

.tempEClima {
  margin-top: 10px;
  font-size: 2.6rem;
}

.infoAdicionais {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  font-size: 0.9rem;
}

.description {
  margin-top: 10px;
  font-size: 1.5rem;
}

.umidade {
  margin-top: 10px;
}

.velocidadeVento {
  margin-top: 10px;
}

h4 {
  margin-top: 20px;
}