:root {
  --font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(0deg, rgba(51,254,255,1) 0%, rgba(0,5,255,1) 100%) no-repeat;
  font-family: var(--font);
  color: rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-rows: 1fr 11% 1fr;
  height: 100vh;
}

.mini-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.previsao {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pesquisar {
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.capitais {
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

.previsao, .pesquisar, .capitais {
  width: 50%;
  height: 100%;
}

h1 {
  font-size: 2.7rem;
  margin-bottom: 10px;
}

.resultado {
  width: 100%;
  height: 75%;
  background-color: rgb(255, 255, 255);
}

.barraPesquisa {
  width: 100%;
  height: 70%;
  padding-left: 10px;
  outline: none;
  font-family: var(--font);
  font-size: 1.1rem;
}

.subtitle {
  font-size: 2rem;
  margin-top: 10px;
}

.listaCapitais {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;
}

.capitaisBox {}

.capital {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  color: black;
}